In [1]:
#Mount to google colab

from google.colab import drive
drive.mount('/content/drive')

%cd /content/drive/MyDrive/Colab Notebooks/GovHackTrafficDeakin/gov hack nat

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
/content/drive/MyDrive/Colab Notebooks/GovHackTrafficDeakin/gov hack nat

Some functions (round coordinates)

In [9]:
import pandas as pd
# Function to round LATITUDE and LONGITUDE to n decimal places, same as other dfs
def round_lat_lon(df, places=5):
    df['LATITUDE'] = df['LATITUDE'].round(places)
    df['LONGITUDE'] = df['LONGITUDE'].round(places)

# Use accident.csv as base

In [25]:
pc = pd.read_csv('au_postcodes.csv')

pc = pc[['place_name', 'postcode', 'latitude', 'longitude']]
pc.rename(columns={'place_name': 'suburb'}, inplace=True)

pc

                               suburb  postcode  latitude  longitude
0      Australian National University       200  -35.2777   149.1189
1                              Barton       221  -35.3049   149.1412
2                           Wreck Bay      2540  -35.1627   150.6907
3                       Hmas Creswell      2540  -35.0280   150.5501
4                          Jervis Bay      2540  -35.1333   150.7000
...                               ...       ...       ...        ...
16870                      Maddington      6989  -32.0500   115.9833
16871                        Gosnells      6990  -32.0810   116.0054
16872                       Kelmscott      6991  -32.1243   116.0259
16873                        Armadale      6992  -32.1461   116.0093
16874                    Kelmscott Dc      6997  -32.1167   116.0056

[16875 rows x 4 columns]

In [26]:
df = pd.read_csv('Moving annual rent by suburb - March quarter 2024.csv')
df

,area,suburb,Mar 2000 Count,Mar 2000 Median,Jun 2000 Count,Jun 2000 Median,Sep 2000 Count,Sep 2000 Median,Dec 2000 Count,Dec 2000 Median,...,Mar 2023 Count,Mar 2023 Median,Jun 2023 Count,Jun 2023 Median,Sep 2023 Count,Sep 2023 Median,Dec 2023 Count,Dec 2023 Median,Mar 2024 Count,Mar 2024 Median
0,Inner Melbourne,Albert Park-Middle Park-West St Kilda,"1,143",$260,"1,134",$260,"1,177",$270,"1,178",$275,...,796,$545,740,$550,730,$600,720,$600,671,$650
1,Inner Melbourne,Armadale,733,$200,737,$200,738,$205,739,$210,...,757,$490,687,$500,639,$525,594,$560,566,$560
2,Inner Melbourne,Carlton North,864,$260,814,$260,799,$265,736,$270,...,497,$620,495,$630,467,$650,418,$670,384,$680
3,Inner Melbourne,Carlton-Parkville,"1,303",$251,"1,278",$260,"1,280",$260,"1,301",$260,...,"2,953",$500,"2,755",$530,"2,687",$550,"2,662",$550,"2,543",$570
4,Inner Melbourne,CBD-St Kilda Rd,"2,132",$320,"2,264",$320,"2,358",$320,"2,361",$320,...,"13,568",$550,"13,505",$580,"13,552",$600,"13,564",$620,"13,582",$640
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143,Other Regional Centres,Wanagaratta,705,$125,671,$125,631,$130,623,$130,...,535,$380,555,$390,565,$390,593,$395,580,$400
144,Other Regional Centres,Warragul,385,$130,367,$135,382,$135,366,$135,...,507,$440,542,$450,558,$450,543,$460,541,$470
145,Other Regional Centres,Warrnambool,"1,266",$130,"1,229",$135,"1,204",$135,"1,135",$135,...,881,$420,861,$430,846,$450,844,$460,840,$460
146,Other Regional Centres,Wodonga,"1,446",$145,"1,439",$145,"1,468",$150,"1,449",$150,...,"1,205",$410,"1,187",$420,"1,164",$420,"1,155",$430,"1,139",$450
147,Other Regional Centres,Group Total,"13,812",$130,"13,758",$130,"13,842",$130,"13,636",$130,...,"12,290",$390,"12,255",$400,"12,143",$400,"12,175",$400,"11,788",$420

# Merge datasets

In [28]:
df = pd.merge(df, pc, on='suburb', how='left')
columns = ['postcode', 'latitude', 'longitude'] + [col for col in df.columns if col != ['postcode','latitude', 'longitude']]
df = df[columns]
# Display the updated node_df DataFrame
df

,postcode,latitude,longitude,area,suburb,Mar 2000 Count,Mar 2000 Median,Jun 2000 Count,Jun 2000 Median,Sep 2000 Count,...,Jun 2023 Median,Sep 2023 Count,Sep 2023 Median,Dec 2023 Count,Dec 2023 Median,Mar 2024 Count,Mar 2024 Median,postcode,latitude,longitude
0,NaN,NaN,NaN,Inner Melbourne,Albert Park-Middle Park-West St Kilda,"1,143",$260,"1,134",$260,"1,177",...,$550,730,$600,720,$600,671,$650,NaN,NaN,NaN
1,3143.0,-37.8554,145.0205,Inner Melbourne,Armadale,733,$200,737,$200,738,...,$500,639,$525,594,$560,566,$560,3143.0,-37.8554,145.0205
2,6112.0,-32.1461,116.0093,Inner Melbourne,Armadale,733,$200,737,$200,738,...,$500,639,$525,594,$560,566,$560,6112.0,-32.1461,116.0093
3,6992.0,-32.1461,116.0093,Inner Melbourne,Armadale,733,$200,737,$200,738,...,$500,639,$525,594,$560,566,$560,6992.0,-32.1461,116.0093
4,3054.0,-37.7833,144.9667,Inner Melbourne,Carlton North,864,$260,814,$260,799,...,$630,467,$650,418,$670,384,$680,3054.0,-37.7833,144.9667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,3820.0,-38.1591,145.9312,Other Regional Centres,Warragul,385,$130,367,$135,382,...,$450,558,$450,543,$460,541,$470,3820.0,-38.1591,145.9312
199,3280.0,-38.3818,142.4880,Other Regional Centres,Warrnambool,"1,266",$130,"1,229",$135,"1,204",...,$430,846,$450,844,$460,840,$460,3280.0,-38.3818,142.4880
200,3689.0,-36.1218,146.8881,Other Regional Centres,Wodonga,"1,446",$145,"1,439",$145,"1,468",...,$420,"1,164",$420,"1,155",$430,"1,139",$450,3689.0,-36.1218,146.8881
201,3690.0,-36.1218,146.8881,Other Regional Centres,Wodonga,"1,446",$145,"1,439",$145,"1,468",...,$420,"1,164",$420,"1,155",$430,"1,139",$450,3690.0,-36.1218,146.8881
202,NaN,NaN,NaN,Other Regional Centres,Group Total,"13,812",$130,"13,758",$130,"13,842",...,$400,"12,143",$400,"12,175",$400,"11,788",$420,NaN,NaN,NaN

In [29]:
df.to_csv('merged.csv', index=False)